<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{modalHeader}}</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
  </ion-header-bar>
  <ion-content class="padding">

    <div class="bar bar-header item-input-inset">
      <input type="text" placeholder=" Search " ng-model="search.name" style="width:100%; padding-left:11px;" />
    </div> 

    <ion-list>
      <ion-item type="item-text-wrap" ng-click="clicked(modalType, item)" ng-class="{ active: item.selected }"
          ng-repeat="item in listContents | filter:search | limitTo:listlength">
        {{item.name}}
      </ion-item>
    </ion-list> 

  </ion-content>
</ion-modal-view>