<ion-view view-title="Orders Menu">
  <ion-content>
    <ion-list>
      <ion-item ng-click="openModal('suppliers')">
        <h2>Supplier</h2>
        <div ng-repeat="item in selectedSuppliers">{{item.name}} </div>
      </ion-item>
      <ion-item ng-click="openModal('customers')">
        <h2>Customer</h2>
        <div ng-repeat="item in selectedCustomers">{{item.name}} </div>
      </ion-item>
    </ion-list>
    <button class="button button-full button-positive" ng-click="createOrder()">Create Order</button>
    <button class="button button-full button-stable" ng-click="clearAll()">Clear Selections</button>
  </ion-content>
</ion-view>
